.informationIcon {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    padding: 8px;

    border-radius: 8px; /* cuadrado con bordes suaves */

    background-color: rgba(111, 66, 193, 0.3); /* violeta con opacidad */
    color: #6f42c1; /* violeta sólido */

    font-size: 18px; /* ajusta el tamaño del icono */
}

.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}