.avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #d1e7dd;
    color: #0f5132;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.avatarContainer:hover {
    cursor: pointer;
}