# MongoDB
# Credenciales del contenedor Mongo
MONGO_USER=root
MONGO_PASSWORD=root
MONGO_DB=tacs

# URI completa — por defecto apunta al servicio mongodb del compose (sin auth en dev)
MONGO_URI=mongodb://mongodb:27017/tacs

MONGO_REPLICA_SET_NAME=rs0

# Spring Boot
SPRING_PROFILE=mongodb
SEED_DATA=false

# CORS
CORS_ORIGIN=http://localhost:5173

# Hot Reload
VITE_POLL=true
CHOKIDAR_USEPOLLING=true

#Token JWT
JWT_SECRET=secreto-super-largo-que-es-muy-seguro-y-no-rompe
JWT_EXPIRATION=12h

#Telegram
TELEGRAM_BOT_TOKEN=tokendementira:tokenmentiroso
TELEGRAM_BOT_USERNAME=nombredelbot