# MongoDB (no usado todavía, preparado para sprints futuros)
MONGO_USER=root
MONGO_PASSWORD=root
MONGO_DB=tacs
MONGO_URI=mongodb://root:root@mongodb:27017/tacs?authSource=admin

# Spring Boot
SEED_DATA=true

# CORS
CORS_ORIGIN=http://localhost:5173

# Hot Reload
CHOKIDAR_USEPOLLING=true
VITE_POLL=true