.scroll-fila-info {
  flex-grow: 1;
}

.scroll-fila-info.opaco {
  opacity: 0.5;
}

.scroll-fila-nombre {
  font-size: 0.88rem;
  font-weight: 600;
  margin: 0;
}

.scroll-fila-detalle {
  font-size: 0.75rem;
  color: var(--color-subtitle);
  margin: 0;
}
