.toast-container {
    position: fixed;
    right: 20px;
    bottom: calc(var(--footer-height) + 16px);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    z-index: 9999;
}

.custom-toast {
    min-width: 250px;
    padding: 1rem 1.5rem;
    border-radius: 8px;
    font-weight: 500;
    background-color: var(--color-primary-acent);
    color: var(--color-secondary);
    animation: slideIn 0.3s ease forwards;
}

.custom-toast.success {
    border-left: 4px solid #4caf50;
}

.custom-toast.error {
    border-left: 4px solid var(--color-caution);
}

.custom-toast.warning {
    border-left: 4px solid var(--color-warning);
}


.custom-toast.info {
    border-left: 4px solid #2196f3;
}

@keyframes slideIn {
    from {
        transform: translateX(120%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* SALIDA */
.toast.closing {
    animation: slideOut 0.3s ease forwards;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(120%);
        opacity: 0;
    }
}