:root {
  --color-primary: #ffffff;
  --color-primary-acent: #E6E6E6;

  --color-secondary: #175a2d;
  --color-secondary-acent: #b1f5c7;
  
  --color-terciary: #d49a2c;

  --color-background: #FAF9F5;
  --color-text: #212529;

  --font-family: 'Inter', sans-serif;

  --font-size-h1: 2rem;
  --font-size-h2: 1.5rem;
  --font-size-p: 1rem;

  --border-color: #E4E3E3;
  --border-weight: 1px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1 { font-size: var(--font-size-h1); }
h2 { font-size: var(--font-size-h2); }
p  { font-size: var(--font-size-p); margin: 0; }